body {
    background-image: url("../images/Sein_Trivia_BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
    background-color:#f1d54d;
}

#welcome {
    background:#f1d54d;
    border:solid #50b2c7;
    border-width: 6px;
    width:350px;
    height:240px;
    text-align:center;
    box-shadow:2px 2px 2px;
    margin:auto;
    position: relative;
    top: 300px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:36px;
    color:#cc2933;
    text-shadow:1px 1px 1px black;
}

audio {
    visibility: hidden;
}

#trivia {
    overflow: scroll;
    background:#f1d54d;
    border:solid #50b2c7;
    border-width: 6px;
    width:615px;
    text-align:center;
    box-shadow:2px 2px 2px;
    position:relative;
    margin:auto;
    top: 250px;
}

#timeLeft {
    font-size:40px;
}

.question {
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    color:#cc2933;
    text-shadow:1px 1px 1px black;
}

#results {
    overflow: scroll;
    background:#f1d54d;
    border:solid #50b2c7;
    border-width: 6px;
    width:615px;
    height:440px;
    text-align:center;
    box-shadow:2px 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    line-height:20px;
    color:#cc2933;
    text-shadow:1px 1px 1px black;
    margin:auto;
    position: relative;
    top: 300px;
}

.gif {
    width:400px;
    height:222px;
}

@media only screen and (max-width:400px) {
    #results, #trivia, #welcome {
        width:100%;
    } 
}




/* input {
    color: #cc2933;
} */